name: PowerView to MQTT Bridge
version: "latest"
slug: pv2mqtt
description: >
  Acts as a bridge between a Hunter Douglas PowerView Hub and Home Assistant, via the Home Assistant MQTT Integration.
url: https://github.com/wez/pview
arch:
  - amd64
init: false
startup: services
services:
  - mqtt:need
#map:
#  - config:rw
options:
  mqtthost: "mqtt.localdomain"
  mqttport: 1883
  discoveryprefix: homeassistant
schema:
  mqtthost: "str?"
  mqttport: "int?"
  mqttuser: "str?"
  mqttpass: "str?"
  bindaddress: "str?"
  discoveryprefix: "str?"
